{% extends "base-sudocu.html" %}

{% block head %}
  {{ super() }}
  <script async src="{{ url_for('static', filename='tutorialVideo_sudocu.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
    <div class="container"
    style="display:flex; flex-direction: column; justify-content: flex-start; align-items: center; overflow-y: auto;">

        <p style="color:red; margin-top:20px"><span><i class="fa fa-play"></i></span> Watch the whole video before
            proceeding. Seeking forward is disabled but you can seek back and look at the part of the video you
            have already seen.</p>

        <div id="vid_div" style="margin:2%;">
            <video id="video" controls style="width: 100%; height:600px">
                <source src="images/SuDoCu.mp4" type="video/mp4">
            </video>
        </div>

        <div id="continue" title="Continue to study"
            style="display: flex; flex-direction: row; justify-content: center; align-items: center; width: 300px; height: 30px; border-radius: 20px; border: solid thin lightgray; text-align: center; margin: 20px; visibility:hidden">
            Continue to study <i class="fa fa-arrow-right" style="margin-left:10px" aria-hidden="true"></i>
        </div>
    </div>

    <script>
        var timeTracking = {
            watchedTime: 0,
            currentTime: 0
        };
        var video = document.getElementById('video')
        var lastUpdated = 'currentTime';

        video.addEventListener('timeupdate', function () {
            if (!video.seeking) {
                if (video.currentTime > timeTracking.watchedTime) {
                    timeTracking.watchedTime = video.currentTime;
                    lastUpdated = 'watchedTime';
                }
                //tracking time updated after user rewinds
                else {
                    timeTracking.currentTime = video.currentTime;
                    lastUpdated = 'currentTime';
                }
            }
        });
        // prevent user from seeking
        video.addEventListener('seeking', function () {
            // guard against infinite recursion:
            // user seeks, seeking is fired, currentTime is modified, seeking is fired, current time is modified, ....
            var delta = video.currentTime - timeTracking.watchedTime;
            if (delta > 0) {
                video.pause();
                //play back from where the user started seeking after rewind or without rewind
                video.currentTime = timeTracking[lastUpdated];
                video.play();
            }
        });

        video.addEventListener("ended", function () {
            document.getElementById("continue").style.visibility = "visible";
        }, true);

        $(document).ready(function () {
            $('#continue').click(function() {
                location.href = './systemU'
            });
        });
    </script>
{% endblock %}